@model SecretsViewModel
@{
    ViewData["Title"] = "Secrets";
}

<h2>Secrets</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th>SecretId</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @{if (@Model.Value != null && @Model.Value.Any())
        {
            @foreach (Secret item in @Model.Value)
            {
                <tr>
                    <td>@item.SecretId</td>
                    <td>
                                <a asp-controller="Contracts" asp-action="SecretIdDetail" asp-route-id="@Model.ContractId" asp-route-secretId="@item.SecretId">Details</a>
                    </td>
                </tr>
            }
        } else
        {
                <tr>
                    <td><i>No secrets yet</i></td>
                    <td></td>
                </tr>
        }
    }
    </tbody>
</table>
